@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('Images/bg7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.photo-upload {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.pred-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pred {
    margin: 10px;
    margin-left: 200px;
    max-width: 30%; /* Adjust as needed */
}
.photo-upload:hover {
    background-color: #555;
}

#input-image {
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    max-width: 100%;
}

.predicted-image {
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    max-width: 100%;
}
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}
/* Style for the top right buttons */
  .top-right-button {
    margin-right: 10px;
    padding:10px 20px;
  }
  .top-right-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.top-right-button:hover {
    background-color: #45a049; /* Darker Green */
}

.top-right-button a {
    color: white;
    text-decoration: none;
}

  