<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Mask Detection</title>
    <link rel="icon" href="static/css/Images/Mask_Detection-removebg-preview.png" type="image/icon type">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="Maskchoice-BG">
    <div class="container1">
        <!-- Container for buttons and image at the top right corner -->
        <div class="top-right">
            <div>
                <button class="top-right-button"><a href="/Login">Home</a></button>
                <button class="top-right-button"><a href="/Mask">Face Mask Tool</a></button>
                <button class="top-right-button"><a href="/Login">Logout</a></button>
            </div>
            <img src="static/css/Images/icon.png" alt="Your Image" width="40" height="40"><br>{{fullname}}   
        </div>
        <h1>Face Mask Detection</h1>
        <div class="button-container">
            <button class="detection-button"><a href="/Maskpic" id="btn">Detection on Images</a></button>
            <button class="compliance-button"><a href="/video" id="btn">Live Video Streaming</a></button>
        </div>
        <div class="login-message">"In every mask, there is a face, and in every face, there is a story. Embrace the mask, for it tells tales of resilience, compassion, and unity in the face of adversity."</div>

    </div>
</body>
</html>
