<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Face Mask Detection & Face Mask Removal</title>
<link rel="icon" href="static/css/Mask_Detection-removebg-preview.png" type="image/icon type">
<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message:</strong>{{ message }}
  <button type="button" class="close" data-dismiss="alert" aris-label="Close">
  <span aris-hidden="true">&times;</span>
  </button>
  {% endfor %}
<div class="login-signup-BG">
<div class="signup-container">
<!-- Container for buttons and image at the top right corner -->
<div class="top-right">
  <img src="static/css/Images/icon.png" alt="Your Image" width="40" height="40">
</div>
  <h2>Sign Up</h2>
  <form action="/Register" method="POST">
  {% csrf_token %}
    <input type="text" name="name" placeholder="Full Name" required>
    <input type="text" name="username" placeholder="User ID" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up"> <!-- Blue Button -->
    <div class="form-footer">
      <span>Already have an account? <a href="/Login">Log in</a></span>
    </div>
  </form>
</div>
</div>
</body>
</html>
